/*.difficult {*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    top: 65px;*/
/*    padding-left: 10px;*/

/*    font-size: .75rem;*/
/*    line-height: 1rem; !* высота строки текста *!*/
/*    font-weight: 700;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: .1em; !* межбуквенное расстояние *!*/
/*    color: transparent;*/
/*    transition: 0.3s ease;*/
/*}*/

body {
    background-color: #16171b;
    margin: 0;
    padding: 0;
}

/* main container */
.main-container {
    background-color: #121216;
    width: 50px;
    height: 100vh;
    border-right: 1px solid #2a2a2e;
}

/* container logo */
.container {
    height: 60px;
    width: 50px;
}

.logo {
    display: flex;
    height: 60px;
    width: 50px;
    align-items: center;
    justify-content: center;
}

/* drop right menu */
.drop-right-menu {
    background-color: #121216;
    border-right: 1px solid #2a2a2e;
}
