.container-popup-modal-window-easy {
    position: absolute;
    top: 190px;
    left: 600px;

    display: none;
}

.popup-modal-window-easy {
    width: 700px;
    height: 500px;
    background-color: #242428;
    border: 25px solid #1d228d;
    padding: 15px;
    overflow: auto;
    border-radius: 10px;
}

/* CONTAINER JS */
.language-main-container-JS {
    width: 80px;
    height: 80px;
    background-color: #161618;
    border: 1px solid #2a2a2e;

    position: absolute;
    left: 800px;
    top: 0;

    transition: 0s;
    cursor: pointer;
}

.language-main-container-JS:hover {
    background-color: #666669;
    transition: 0.4s ease;
}

.language-main-container-JS:hover svg path {
    fill: yellow;
    transition: 0.4s ease;
}

.language-container-JS {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
}

/* MODAL WINDOW TEXT */
.header-easy {
    display: flex;
    justify-content: center;
    width: 100%;

    font-size: 25px;
    color: blue;
    font-weight: bold;
}

.popup-modal-window-easy-text {
    font-size: 20px;
    color: #c1c1c1;
    top: 10px;
    position: relative;
}

/* BUTTONS */
.container-buttons-easy {
    display: flex;
    width: 700px;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}

.btn-close-easy {
    margin: 0;
    padding: 0;
    width: 180px;
    height: 50px;
    background: #836e6e none;
    box-shadow: none;

    font-size: 25px;
}

.btn-continue-easy {
    margin: 0;
    padding: 0;
    width: 180px;
    height: 50px;
    background: #836e6e none;
    box-shadow: none;

    font-size: 25px;
}

.btn-close-easy:hover {
    color: darkred;
}

.btn-continue-easy:hover {
    color: green;
}